<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.layout == "category" %}
        <a class="category-link {% if page.url == node.url %} active{% endif %}"
                href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
        {% endif %}
        {% endfor %} 
      </nav>      
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
